
.obr {
    height: 100px;
    width: 100px;
}
.zapati {
    margin-top: 2em;
    padding-top: 1em;
    width: 100%;
    height: 5em;
    background-color: #00060f;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
}
.zacatek {
    margin-top: 4.5em;
}
.zapati li {
    list-style-type: none; 
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 25px;
    color:	#6edeff;
}
.zapati a {
    text-decoration: none;  
    color:	#6edeff; 
}
/*Topnav*/
.topnav {
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,6,15);
    overflow: hidden;
}
.topnav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(110,222,255);
    margin: 0 5%;
}
.topnav .icon{
    display: none;
}
.topnav .logo {
    height: 100%;
}
.ticketsImg img {
    border: 0.2em solid rgb(110,222,255);
}