
.obr {
    height: 100px;
    width: 100px;
}
.zapati li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif
}
/*Topnav*/
.topnav {
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,6,15);
    overflow: hidden;
    position: fixed;
    left: 0;
}
.topnav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(110,222,255);
    margin: 0 5%;
    display: block; 
}
.topnav a:hover {
    opacity: 0.5;
}
.topnav .icon{
    /*display: none;*/
    color: white;
}
.topnav .logo {
    height: 100%;
}
@media screen and (max-width: 800px) {
    .topnav a {
        display: none;
        align-items: right;
    }
    .topnav a.icon {
      float: right;
      display: block;
      right:0;
    }
    .responsive {position: relative;}
    .responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }
